.button {
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 4px;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #333;
  color: #333;
  outline: none;
  transition: all 0.2s;

  &:focus {
    box-shadow: 0px 0px 0px 1px #333;
  }

  &.lighter {
    border: 2px solid #fff;
    color: #fff;

    &:focus {
      box-shadow: 0px 0px 0px 1px #fff;
    }
  }
}
