.editTodoForm {
  display: flex;
  width: 100%;

  .field {
    height: 2.5rem;
    margin-right: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    width: 100%;
    transition: all 0.2s;
    box-shadow: 0px -1px 0px 0px #fff inset;

    &:focus {
      box-shadow: 0px -2px 0px 0px #fff inset;
    }
  }
}
