.editTodoForm {
  display: flex;
  width: 100%;

  .field {
    height: 2.5rem;
    margin-right: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background: #01bbd4;
    width: 100%;
    transition: all 0.2s;
  }
}
